<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=menu" />
  </head>
  <body>
    <nav>
      <img src="./images/logo.png" alt="Wareg Apps" id="logo">
      <button id="nav_drawer"><span class="material-symbols-outlined">
        menu
        </span></button>
      <ul class="hidden">
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/setiawan-joko-prakoso/" target="_blank">About Us</a></li>
      </ul>
    </nav>
    <section id="hero">
      <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
    </section>
    <main id="list">
      <h1>Explore Restaurant</h1>
      <article>

      </article>
    </main>
    <footer>
      <p>Copyright © 2024 - Wareg Apps</p>
    </footer>
  </body>
</html>
